<div class='text-center pt-5'>
  <div class='try3'>
    <p><%= t('.title') %></p><br>
  </div>

  <div id="vue-app">
    <!-- Vueアプリケーションがここにマウントされる -->
  </div>

  <%= link_to t('.top'), root_path, class: "btn btn-outline-primary" %>
</div>